.ProjectCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 210px;
  width: 380px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 8px 8px 0 rgba(41, 36, 122, 0.1490196078);
  transition: 0.2s;
}
.ProjectCard::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #040413, rgba(4, 4, 19, 0.0117647059));
  z-index: 2;
  opacity: 0.5;
  transition: 0.3s;
}
.ProjectCard:hover:before {
  opacity: 0.7;
}
.ProjectCard:hover {
  transform: translate(8px, 8px);
  box-shadow: 0px 0px;
}
.ProjectCard:hover .HoverButtons {
  pointer-events: unset;
  opacity: 1;
}
.ProjectCard:hover .DetailsG {
  pointer-events: unset;
  opacity: 1;
}
.ProjectCard .LoaderImg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #080829;
  z-index: 9;
}
.ProjectCard .LoaderImg::before {
  position: absolute;
  transform: rotate(20deg);
  content: "";
  height: 120%;
  top: -10%;
  left: -100px;
  width: 40px;
  background: rgb(20, 27, 82);
  filter: blur(25px);
  animation: loadingImg 0.8s linear infinite;
}
.ProjectCard img {
  border-radius: 7px;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}
.ProjectCard .DetailsG {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  z-index: 5;
  border-radius: 5px;
  border: 2px solid #ff005c;
  bottom: 10px;
  backface-visibility: hidden;
}

.HoverButtons {
  opacity: 0;
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
  top: 10px;
  pointer-events: none;
}
.HoverButtons a button {
  height: 30px;
  width: 120px;
  font-size: 14px;
  border-radius: 5px;
}

@keyframes loadingImg {
  from {
    transform: translateX(0px) rotate(20deg);
  }
  to {
    transform: translateX(600px) rotate(20deg);
  }
}
@media (max-width: 390px) {
  .ProjectCard {
    width: 90%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .ProjectCard .DetailsG {
    font-size: 15px;
    width: 200px;
    height: 35px;
  }
  .ProjectCard .HoverButtons a button {
    height: 30px;
    width: 120px;
    font-size: 14px;
  }
}