.GlowStick {
  width: 96%;
  height: 5px;
  border-radius: 5px;
  background: #ff005c;
  margin: 0 auto;
}

.GDown {
  animation: 1.4s lightsGlowDown infinite ease-in-out;
}

.GUp {
  animation: 1.4s lightsGlowUp infinite ease-in-out;
}

.ExperienceContent {
  display: flex;
  align-items: center;
  padding: 50px 10px;
}
.ExperienceContent .LogoSide {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 50px;
}
.ExperienceContent .TextSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
  line-height: 28px;
  font-size: 17px;
}
.ExperienceContent .TextSide h3 {
  width: 85%;
}
.ExperienceContent .TextSide .langS {
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
}
.ExperienceContent .TextSide .langS::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0%;
  transition: 0.2s;
}
.ExperienceContent .TextSide .ActivedN {
  filter: brightness(1.5);
}
.ExperienceContent .TextSide .ActivedN::before {
  width: 100%;
}

.redDot {
  color: #ff005c;
  animation: 1s lighter infinite ease-in-out;
}

.redDot2 {
  animation-delay: 0.5s;
}

.HTMLDot {
  color: #ff5722;
}
.HTMLDot::before {
  background: #ff5722;
}

.CSSDot {
  color: #2965f1;
}
.CSSDot::before {
  background: #2965f1;
}

.BOOTSTRAPDot {
  color: #db00ff;
}
.BOOTSTRAPDot::before {
  background: #db00ff;
}

.SCSSDot {
  color: #cd6799;
}
.SCSSDot::before {
  background: #cd6799;
}

.JAVASCRIPTDot {
  color: #f0db4f;
}
.JAVASCRIPTDot::before {
  background: #f0db4f;
}

.JQUERYDot {
  color: #0868ac;
}
.JQUERYDot::before {
  background: #0868ac;
}

.TYPESCRIPTDot {
  color: #017acb;
}
.TYPESCRIPTDot::before {
  background: #017acb;
}

.REACTDot {
  color: #5db2f6;
}
.REACTDot::before {
  background: #5db2f6;
}

.VITEDot {
  color: #bd34fe;
}
.VITEDot::before {
  background: #bd34fe;
}

.PHPDot {
  color: #777bb3;
}
.PHPDot::before {
  background: #777bb3;
}

.MYSQLDot {
  color: #ce8b2c;
}
.MYSQLDot::before {
  background: #ce8b2c;
}

.FIGMADot {
  color: #0acf83;
}
.FIGMADot::before {
  background: #0acf83;
}

.noner {
  color: rgba(255, 255, 255, 0.6);
}

.nonerr {
  color: white;
}

.LogosRow {
  display: flex;
  gap: 25px;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.LogosRow .LogoCard {
  height: 100px;
  aspect-ratio: 1;
  border-radius: 5px;
  background: #0d0d40;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.LogosRow .LogoCard img {
  width: 60%;
}
.LogosRow .ActivedC {
  background: #0b0b3c;
  transform: translateY(-10px);
}

@keyframes lighter {
  0% {
    color: #ff005c;
  }
  50% {
    color: #ff00d9;
  }
}
@keyframes lightsGlowDown {
  0% {
    box-shadow: 0px 10px 35px #ff005c;
  }
  50% {
    box-shadow: 0px 10px 35px rgba(255, 0, 93, 0.7176470588);
  }
  100% {
    box-shadow: 0px 10px 35px #ff005c;
  }
}
@keyframes lightsGlowUp {
  0% {
    box-shadow: 0px -10px 35px #ff005c;
  }
  50% {
    box-shadow: 0px -10px 35px rgba(255, 0, 93, 0.7176470588);
  }
  100% {
    box-shadow: 0px -10px 35px #ff005c;
  }
}