@import "./Colors.scss";
.lineT {
    width: 100%;
    height: 2px;
    background: $BgColor_;
    border-radius: 5px;
}
.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    .Content {
        width: 100%;
    }
}
.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: $BgColor;
    z-index: 9999;
    transition:
        opacity 0.3s,
        visibility 0.3s;
    .LoaderC {
        height: 100px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 10px solid $MainColor;
        border-top: 10px solid $BgColor;
        border-bottom: 10px solid $BgColor;
        animation: 2s Loader infinite linear;
    }
}
.LoaderHide {
    opacity: 0;
    visibility: hidden;
}
.starterSections {
    display: flex;
    align-items: center;
    gap: 30px;
    h1 {
        letter-spacing: 3px;
        white-space: nowrap;
        color: white;
        font-family: main_rc;
        font-size: 30px;
        span {
            color: $MainColor;
        }
    }
}
.EndAnimLoader {
    display: none;
}
.SecPadder {
    padding: 40px 0;
}
.AlertSend {
    position: fixed;
    height: auto;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    min-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $BgColor__;
    z-index: 3;
    color: $White;
    letter-spacing: 2px;
    font-family: main_mc;
    text-align: center;
    padding: 50px 20px;
    top: -100%;
    opacity: 0;
    transition: opacity 0.4s;
    h2 {
        margin-bottom: 30px;
    }
    span {
        color: $MainColor;
    }
    p {
        font-size: 18px;
    }
}
.AlertSendActive {
    opacity: 1;
    top: 50%;
}

.bgD {
    position: absolute;
    z-index: 0;
    user-select: none;
    opacity: 0.8;
    animation: blinkingbg 2s infinite;
    max-height: 350px;
}
.bgDecor1 {
    left: 0;
}
.bgDecor2 {
    top: 10%;
}
.bgDecor3 {
    right: 0;
}
.bgDecor4 {
    bottom: 10%;
}
@keyframes Loader {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
