@import "./Colors.scss";
.lineT {
    width: 100%;
    height: 2px;
    background: $BgColor_;
    border-radius: 5px;
}
.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    .Content {
        width: 100%;
    }
}
.starterSections {
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
        letter-spacing: 3px;
        white-space: nowrap;
        color: white;
        font-family: main_rc;
        font-size: 30px;
        span {
            color: $MainColor;
        }
    }
}
.SecPadder {
    padding: 40px 0;
}
