$BgColor: #030311;
$BgColor_: #080829;
$BgColor__: #0d0d40;
$BgColor___: #121254;
$BgColorH: #0a0a33;
$TextB: #222258;
$TextB__: #131359;
$MainColor: #ff005c;
$MainColorL: #ff00d9;
$MainColor_: rgba(255, 0, 93, 0.1);
$White: white;
$White_: rgba(255, 255, 255, 0.9);
$White__: rgba(255, 255, 255, 0.3);
$Desc: rgba(255, 255, 255, 0.6);
$Gr1: rgba(255, 0, 92, 1);
$Gr2: rgba(219, 0, 255, 1);
