$BgColor: #030311;
$BgColor_: #080829;
$BgColor__: #060621;
$BgColorH: #0a0a33;
$TextB: #222258;
$TextB__: #131359;
$MainColor: #ff005c;
$White: white;
$White_: rgba(255, 255, 255, 0.9);
$White__: rgba(255, 255, 255, 0.3);
$Gr1: rgba(255, 0, 92, 1);
$Gr2: rgba(219, 0, 255, 1);
