nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  gap: 20px;
  position: absolute;
  z-index: 9;
}
nav .logoNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 50px;
  cursor: pointer;
  background: #080829;
  border-radius: 0 10px 10px 0;
  gap: 20px;
  color: rgba(255, 255, 255, 0.9);
}
nav .logoNav img {
  height: 32px;
}
nav .logoNav p {
  white-space: nowrap;
}
nav .logoNav::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #080829;
  left: -100%;
  z-index: 0;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul li {
  font-family: main_mc;
  letter-spacing: 2px;
  list-style: none;
  color: #222258;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s;
}
nav ul li:hover {
  color: #ff005c;
}
nav ul .liContact {
  font-size: 17px;
  padding: 6px 25px;
  border-radius: 10px;
  color: #ff005c;
  background: #0d0d40;
  transition: 0.3s;
  backface-visibility: hidden;
}
nav ul .liContact:hover {
  background: #0a0a33;
}