@import "../../main/Colors.scss";
.Footer {
    min-height: 350px;
    background: $Inp;
    padding: 30px 0;
    position: relative;
    .footerContainer {
        display: flex;
        justify-content: center;
    }
    .FooterRow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        width: 100%;
        .FooterColumn {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 30%;
            max-width: 30%;
            padding-left: 60px;
            .FooterStarter {
                margin-bottom: 5px;
                color: $White_1;
                letter-spacing: 2px;
                font-size: 22px;
            }
            .FooterD {
                letter-spacing: 2px;
                color: $White__;
                font-size: 18px;
                cursor: pointer;
                transition: 0.1s;

                &:hover {
                    color: $White_1;
                }
            }
        }
    }
    a {
        color: unset;
        text-decoration: none;
    }
    .LineGlowUp {
        height: 2px;
        width: 100%;
        background: $MainColor;
        box-shadow: 0 -10px 30px $MainColor;
    }
}
.rightsSwap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $White__;
    letter-spacing: 2px;
    margin: 15px 0;
}
.bottomSec {
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.webS {
    transition: 0.1s;

    &:hover {
        color: $White_1;
    }
}
