@font-face {
  font-family: main_rc;
  src: url("./fonts/TKT-Regular-Caps.ttf");
}
@font-face {
  font-family: main_mc;
  src: url("./fonts/TKT-Medium-Caps.ttf");
}
@font-face {
  font-family: main_m;
  src: url("./fonts/TKT-Medium.ttf");
}
@font-face {
  font-family: main_b;
  src: url("./fonts/TKT-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: rgba(255, 0, 93, 0.6);
}

body {
  background: #030311;
  font-family: main_b;
  letter-spacing: 1px;
}

a {
  color: #030311;
}

::-webkit-scrollbar {
  width: 5px;
  background: #0d0d40;
}

::-webkit-scrollbar-thumb {
  background: #ff005c;
}

.contentContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1190px) {
  .contentContainer {
    width: 98%;
  }
}
.DefButton, .DefButton2 {
  height: 40px;
  width: 240px;
  border-radius: 10px;
  border: 0;
  font-family: main_b;
  font-size: 17px;
  letter-spacing: 1px;
  background: #ff005c;
  color: #030311;
  transition: 0.2s;
}
.DefButton:hover, .DefButton2:hover {
  background: rgb(235, 0, 86);
}

.navCloser {
  position: fixed;
  background: #0d0d40;
  top: 20px;
  right: 20px;
  height: 60px;
  aspect-ratio: 1;
  display: none;
  z-index: 9;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 20px;
}
.navCloser span {
  display: block;
  position: absolute;
  height: 3px;
  width: 65%;
  border-radius: 5px;
  background: #ff005c;
  transition: 0.2s;
}
.navCloser span:nth-child(1) {
  transform: translateY(-11px);
}
.navCloser span:nth-child(3) {
  transform: translateY(11px);
}

.navCloserActive span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.navCloserActive span:nth-child(2) {
  opacity: 0;
}
.navCloserActive span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.DefButton2 {
  color: #ff005c;
  background: rgba(255, 0, 93, 0.1);
  transition: 0.2s;
}
.DefButton2:hover {
  color: #ff005c;
  background: rgba(255, 0, 93, 0.2);
}

button {
  cursor: pointer;
}

.g-4 {
  width: 35%;
}

.g-6 {
  width: 50%;
}

.g-8 {
  width: 65%;
}

@media (max-width: 1080px) {
  .g-6 {
    width: 100%;
  }
  .StarterWrap {
    flex-direction: column;
    gap: 80px;
  }
  .StarterWrap .WelcomeContent {
    align-items: center;
    text-align: center;
  }
  .ExperienceContent {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .ExperienceContent .TextSide {
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .bgDecor1 {
    left: 0;
    height: 150px;
  }
  .bgDecor2 {
    top: 10%;
    height: 200px;
  }
  .bgDecor3 {
    right: 0;
    height: 200px;
  }
  .bgDecor4 {
    bottom: 10%;
    height: 150px;
  }
  .navCloser {
    display: flex;
  }
  nav ul {
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 30%;
    min-width: 300px;
    background: #080829;
    top: 0;
    flex-direction: column;
    padding: 20% 0px;
    gap: 50px;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  nav ul li {
    color: white;
  }
  nav .navAct {
    transform: translateX(0);
  }
  .Footer .FooterRow {
    flex-direction: column;
    gap: 40px;
  }
  .Footer .FooterRow .FooterColumn {
    padding: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .Footer .bottomSec {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .starterSections {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .starterSections h1 {
    letter-spacing: 3px;
    white-space: nowrap;
    color: white;
    font-family: main_rc;
    font-size: 20px;
  }
  .starterSections h1 span {
    color: #ff005c;
  }
  .StarterWrap {
    width: 100%;
    padding: 0;
    gap: 20px;
  }
  .LogosRow {
    gap: 20px;
    width: 100%;
  }
  .ExperienceContent .LogoSide {
    padding: 0;
  }
  .FaceContent .EyeBlockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 300px;
    width: 90%;
    animation: mover 2s infinite;
  }
}
@media (max-width: 524px) {
  .Starter .WelcomeContent h1 {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .Starter .WelcomeContent h1 .StartP {
    font-size: 22px;
    letter-spacing: 1px;
    width: 100%;
  }
  .Starter .WelcomeContent h1 span {
    width: 100%;
    height: 29px;
  }
  .Starter .WelcomeContent h1 .Blinker {
    height: 30px;
    transform: translateY(7px);
  }
  .Starter .WelcomeContent p {
    font-size: 15px;
    padding: 0 10px;
  }
  .Starter .WelcomeContent .ButtonsRow {
    margin-top: 30px;
    gap: 15px;
    flex-direction: column;
    width: 300px;
  }
  .Starter .WelcomeContent .ButtonsRow a {
    width: 100%;
  }
  .Starter .WelcomeContent .ButtonsRow button {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .FaceContent .EyeBlockContainer .EyeBlock {
    width: 100%;
    padding: 50px 10px;
  }
  .ExperienceContent {
    padding: 0;
  }
  .ExperienceContent .TextSide {
    margin-top: 50px;
  }
  .ExperienceContent .TextSide h3 {
    width: 100%;
    font-size: 16px;
  }
  .Contact form .inputBlock input,
  .Contact form .inputBlock textarea {
    font-size: 16px;
  }
  .Contact form .subForm {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .starterSections h1 {
    letter-spacing: 3px;
    white-space: nowrap;
    color: white;
    font-family: main_rc;
    font-size: 20px;
  }
  .Footer .FooterRow .FooterColumn {
    gap: 8px;
  }
  .Footer .FooterRow .FooterColumn .FooterStarter {
    font-size: 18px;
  }
  .Footer .FooterRow .FooterColumn .FooterD {
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px;
    cursor: pointer;
    transition: 0.1s;
  }
  .Footer .FooterRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;
  }
  .rightsSwap {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 360px) {
  .logoNav p {
    display: none;
  }
}